/* =Resetting
----------------------------------------------- */
/*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* =Reset
-------------------------------------------------------------- */
/* line 19, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 30, ../scss/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

/* line 36, ../scss/_reset.scss */
body {
  background: #fff;
  font-family: "Museo Sans W01 500", Helvetica, sans-serif; }

/* line 50, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/* line 53, ../scss/_reset.scss */
ol, ul {
  list-style: none; }

/* line 56, ../scss/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 60, ../scss/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 65, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 68, ../scss/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 71, ../scss/_reset.scss */
a:focus {
  outline: thin dotted; }

/* line 75, ../scss/_reset.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

/* line 78, ../scss/_reset.scss */
a img {
  border: 0; }

/* =Global
----------------------------------------------- */
/* =Global
----------------------------------------------- */
/* line 4, ../scss/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal; }

/* Headings */
/* line 11, ../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both; }

/* line 14, ../scss/_global.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
/* line 22, ../scss/_global.scss */
p {
  margin-bottom: 1.5em; }
  /* line 24, ../scss/_global.scss */
  p strong {
    font-weight: normal;
    font-family: "HelveticaNeueW01-75Bold", sans-serif; }
  /* line 28, ../scss/_global.scss */
  p em {
    font-style: normal;
    font-family: "MuseoSansW01-500Italic", sans-serif; }

/*
ul, ol {
	margin: 0 0 1.5em 3em;
}*/
/* line 37, ../scss/_global.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

/* line 41, ../scss/_global.scss */
dt {
  font-weight: bold; }

/* line 44, ../scss/_global.scss */
dd {
  margin: 0 1.5em 1.5em; }

/* line 47, ../scss/_global.scss */
b, strong {
  font-weight: bold; }

/* line 50, ../scss/_global.scss */
dfn, cite, em, i {
  font-style: italic; }

/* line 53, ../scss/_global.scss */
blockquote {
  margin: 0 1.5em; }

/* line 56, ../scss/_global.scss */
address {
  margin: 0 0 1.5em; }

/* line 59, ../scss/_global.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%; }

/* line 70, ../scss/_global.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

/* line 73, ../scss/_global.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
  cursor: help; }

/* line 77, ../scss/_global.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/* line 82, ../scss/_global.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 89, ../scss/_global.scss */
sup {
  bottom: 1ex; }

/* line 92, ../scss/_global.scss */
sub {
  top: .5ex; }

/* line 95, ../scss/_global.scss */
small {
  font-size: 75%; }

/* line 98, ../scss/_global.scss */
big {
  font-size: 125%; }

/* line 101, ../scss/_global.scss */
figure {
  margin: 0; }

/* line 104, ../scss/_global.scss */
table {
  margin: 0 0 1.5em;
  width: 100%; }

/* line 108, ../scss/_global.scss */
th {
  font-weight: bold; }

/* line 111, ../scss/_global.scss */
img {
  vertical-align: middle; }

/* line 117, ../scss/_global.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */ }

/* line 124, ../scss/_global.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */ }

/* line 131, ../scss/_global.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #cccccc;
  border-color: #cccccc #cccccc #bbbbbb #cccccc;
  border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.12em 1.5em 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

/* line 151, ../scss/_global.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #cccccc #bbbbbb #aaaaaa #bbbbbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

/* line 164, ../scss/_global.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaaaaa #bbbbbb #bbbbbb #bbbbbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

/* line 171, ../scss/_global.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

/* line 175, ../scss/_global.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box; }

/* line 181, ../scss/_global.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

/* line 185, ../scss/_global.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

/* line 191, ../scss/_global.scss */
input[type=text],
input[type=email],
textarea {
  color: #666;
  border: 1px solid #cccccc;
  border-radius: 3px; }

/* line 198, ../scss/_global.scss */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  color: #111; }

/* line 202, ../scss/_global.scss */
input[type=text],
input[type=email] {
  padding: 3px; }

/* line 205, ../scss/_global.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/* Links */
/* line 214, ../scss/_global.scss */
a {
  text-decoration: none;
  /*
  color: royalblue;
  &:visited {
  	color: purple;
  }
  &:hover {
  	text-decoration: underline;
  }
  &:hover,
  &:focus,
  &:active {
  	color: midnightblue;
  }*/ }

/* Alignment */
/* line 232, ../scss/_global.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

/* line 237, ../scss/_global.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

/* line 242, ../scss/_global.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Text meant only for screen readers */
/* line 249, ../scss/_global.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

/* SCSS
---------------------------------------- */
/* Variables */
/* Mixins */
/* =Layout
----------------------------------------------- */
/* line 71, ../scss/style.scss */
.site-header,
.nav-wrapper {
  width: 100%; }

/* line 78, ../scss/style.scss */
.top-links,
.main-header,
.site-navigation,
.footer-inner,
.content-wrap {
  width: 98em; }

/* =Repeatable Pattern
----------------------------------------------- */
/* line 109, ../scss/style.scss */
.cta-button {
  background-color: #f6f3e5;
  border: 2px solid white;
  color: #ad8f12;
  display: block;
  float: left;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 3.5rem 1rem 2.5rem;
  position: relative;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2) inset; }
  /* line 97, ../scss/style.scss */
  .cta-button:after {
    content: "";
    background: url(../inc/images/assets.png) no-repeat -36px 0;
    display: block;
    width: 8px;
    height: 11px;
    position: absolute;
    right: 1.8rem;
    bottom: 1.4rem; }

/* =Header
----------------------------------------------- */
/* line 116, ../scss/style.scss */
.site-header .top-links {
  height: 3.2em;
  margin: 0 auto;
  padding-left: 5em;
  box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.2); }
  @media (min-width: 103em) {
    /* line 116, ../scss/style.scss */
    .site-header .top-links {
      width: 103em; } }
  /* line 124, ../scss/style.scss */
  .site-header .top-links li {
    float: left;
    list-style: none;
    margin-left: 5em;
    padding-top: 1rem; }
    /* line 129, ../scss/style.scss */
    .site-header .top-links li:before {
      background: url(../inc/images/assets.png);
      content: "";
      display: inline-block;
      width: 9px;
      height: 9px;
      margin: 0 0.4em 0.1em 0; }
    /* line 137, ../scss/style.scss */
    .site-header .top-links li a {
      color: #7b7b7b;
      font-size: 1.4em;
      text-transform: uppercase; }
    /* line 144, ../scss/style.scss */
    .site-header .top-links li:nth-child(2):before, .site-header .top-links li:first-child + li:before {
      background-position: -9px 0; }
    /* line 150, ../scss/style.scss */
    .site-header .top-links li:nth-child(3):before, .site-header .top-links li:first-child + li + li:before {
      background-position: -18px 0; }
    /* line 156, ../scss/style.scss */
    .site-header .top-links li:nth-child(4):before, .site-header .top-links li:first-child + li + li + li:before {
      background-position: -27px 0; }
/* line 162, ../scss/style.scss */
.site-header .main-header {
  margin: 3em auto; }
  /* line 28, ../scss/style.scss */
  .site-header .main-header:after {
    content: "";
    display: table;
    clear: both; }
  /* line 165, ../scss/style.scss */
  .site-header .main-header .site-title {
    background: url(../inc/images/logo.png) no-repeat;
    display: block;
    float: left;
    text-indent: -100%;
    width: 387px;
    height: 58px; }
  /* line 173, ../scss/style.scss */
  .site-header .main-header .member-login a {
    border: 2px solid white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: #b1931c;
    float: right;
    font-size: 1.6em;
    line-height: 1;
    padding: 1.5rem 2rem 1rem 4rem;
    position: relative;
    text-transform: uppercase; }
    /* line 185, ../scss/style.scss */
    .site-header .main-header .member-login a:hover {
      background-color: #eaeaea;
      text-decoration: none; }
    /* line 189, ../scss/style.scss */
    .site-header .main-header .member-login a:before {
      background: url(../inc/images/assets.png) no-repeat 0 -10px;
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 10px;
      left: 12px; }

/* =Menu
----------------------------------------------- */
/* line 205, ../scss/style.scss */
.nav-wrapper {
  height: 4.6rem;
  background: #b1931c; }
  /* line 208, ../scss/style.scss */
  .nav-wrapper .site-navigation {
    clear: both;
    display: block;
    margin: 0 auto; }
    /* line 28, ../scss/style.scss */
    .nav-wrapper .site-navigation:after {
      content: "";
      display: table;
      clear: both; }
    /* line 213, ../scss/style.scss */
    .nav-wrapper .site-navigation ul {
      list-style: none;
      margin: 0 0 0 -2rem;
      padding-left: 0; }
      /* line 217, ../scss/style.scss */
      .nav-wrapper .site-navigation ul ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        position: absolute;
        top: 1.5rem;
        left: 0;
        z-index: 99999; }
        /* line 225, ../scss/style.scss */
        .nav-wrapper .site-navigation ul ul ul {
          left: 100%;
          top: 0; }
        /* line 229, ../scss/style.scss */
        .nav-wrapper .site-navigation ul ul a {
          width: 200px; }
    /* line 234, ../scss/style.scss */
    .nav-wrapper .site-navigation li {
      border-right: 2px solid #977d18;
      float: left;
      position: relative; }
      /* line 238, ../scss/style.scss */
      .nav-wrapper .site-navigation li:last-child {
        border: none; }
      /* line 241, ../scss/style.scss */
      .nav-wrapper .site-navigation li:hover {
        background-color: #977d18;
        cursor: pointer; }
      /* line 245, ../scss/style.scss */
      .nav-wrapper .site-navigation li.current-menu-item {
        background-color: #977d18; }
    /* line 249, ../scss/style.scss */
    .nav-wrapper .site-navigation a {
      color: white;
      font-size: 1.6rem;
      line-height: 1;
      display: block;
      padding: 0.9375em 1.25em;
      text-transform: uppercase; }
      /* line 256, ../scss/style.scss */
      .nav-wrapper .site-navigation a:hover {
        text-decoration: none; }

/* Small menu */
/* line 264, ../scss/style.scss */
.menu-toggle {
  cursor: pointer; }

/* line 267, ../scss/style.scss */
.main-small-navigation .menu {
  display: none; }

/* =Content
----------------------------------------------- */
/* HOMEPAGE */
/* HOMEPAGE */
/* line 4, ../scss/_home.scss */
.home .site-main {
  border: none;
  padding: 0; }

/* line 9, ../scss/_home.scss */
.homepage-feature {
  width: 100%;
  min-height: 67.4em;
  background: url(../inc/images/homepage-feature.png) no-repeat center center fixed;
  background-size: cover;
  position: relative; }
  /* line 15, ../scss/_home.scss */
  .homepage-feature .main-headline {
    margin: 0 auto;
    width: 87em;
    padding-top: 40em;
    position: relative; }
    /* line 20, ../scss/_home.scss */
    .homepage-feature .main-headline p {
      background: rgba(57, 2, 2, 0.75);
      color: white;
      font-size: 3em;
      margin: 0;
      padding: 2rem;
      text-align: center;
      text-transform: uppercase; }
    /* line 30, ../scss/_home.scss */
    .homepage-feature .main-headline:before, .homepage-feature .main-headline:after {
      background: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      width: 5em;
      height: 20em;
      position: absolute;
      bottom: -15.5em;
      left: -5.5em; }
    /* line 40, ../scss/_home.scss */
    .homepage-feature .main-headline:after {
      left: 87.5em; }
  /* line 44, ../scss/_home.scss */
  .homepage-feature .supporting-content {
    background: rgba(0, 0, 0, 0.5);
    margin: 0.5em auto 0;
    position: relative;
    overflow: hidden;
    width: 88em;
    height: 15em; }
    /* line 51, ../scss/_home.scss */
    .homepage-feature .supporting-content .features {
      width: 20000em;
      position: absolute; }
    /* line 55, ../scss/_home.scss */
    .homepage-feature .supporting-content .feature {
      box-sizing: border-box;
      float: left;
      width: 88em;
      padding: 2rem 3rem; }
      /* line 60, ../scss/_home.scss */
      .homepage-feature .supporting-content .feature p {
        color: white;
        font-size: 1.8em;
        padding: 2rem 3rem;
        text-align: center; }
      /* line 66, ../scss/_home.scss */
      .homepage-feature .supporting-content .feature a {
        color: #dcb000;
        font-size: 1.1rem;
        text-transform: uppercase; }

/* line 75, ../scss/_home.scss */
.tabs-wrap {
  background: black;
  width: 100%;
  height: 1.6em; }
  /* line 79, ../scss/_home.scss */
  .tabs-wrap .bottom-tabs {
    margin: 0 auto;
    width: 98rem; }
    /* line 28, ../scss/style.scss */
    .tabs-wrap .bottom-tabs:after {
      content: "";
      display: table;
      clear: both; }
  /* line 84, ../scss/_home.scss */
  .tabs-wrap .tab {
    background-color: #977d18;
    direction: block;
    height: 1.6em;
    float: left; }
    /* line 89, ../scss/_home.scss */
    .tabs-wrap .tab.active {
      background-color: #b1931c; }
  /* line 93, ../scss/_home.scss */
  .tabs-wrap .tab-1 {
    width: 100%; }
  /* line 96, ../scss/_home.scss */
  .tabs-wrap .tab-2 {
    width: 48.9em; }
    /* line 98, ../scss/_home.scss */
    .tabs-wrap .tab-2:first-child {
      margin-right: 1px; }
  /* line 102, ../scss/_home.scss */
  .tabs-wrap .tab-3 {
    width: 32.6em;
    margin-right: 1px; }
    /* line 105, ../scss/_home.scss */
    .tabs-wrap .tab-3:last-child {
      margin-right: 0; }
  /* line 109, ../scss/_home.scss */
  .tabs-wrap .tab-4 {
    width: 24.42em;
    margin-right: 1px; }
    /* line 112, ../scss/_home.scss */
    .tabs-wrap .tab-4:last-child {
      margin-right: 0; }

/* line 117, ../scss/_home.scss */
.homepage-lower-wrap {
  background-color: #e1e1e1;
  padding: 3.5rem 0 8rem;
  width: 100%; }

/* line 122, ../scss/_home.scss */
.homepage-lower-content {
  width: 100%;
  margin: 0 auto;
  width: 98rem; }
  /* line 28, ../scss/style.scss */
  .homepage-lower-content:after {
    content: "";
    display: table;
    clear: both; }
  /* line 127, ../scss/_home.scss */
  .homepage-lower-content .homepage-module {
    float: left;
    line-height: 1.4;
    width: 28.5714286%;
    margin-right: 7.1428571%; }
    /* line 132, ../scss/_home.scss */
    .homepage-lower-content .homepage-module h1 {
      color: white;
      font-size: 1.8rem;
      margin-bottom: -4.1rem;
      padding: 0.8rem 0;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      background-color: #a9890a;
      -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2); }
    /* line 144, ../scss/_home.scss */
    .homepage-lower-content .homepage-module h2 {
      font-size: 1.8rem;
      margin-top: 1.5rem; }
    /* line 148, ../scss/_home.scss */
    .homepage-lower-content .homepage-module p {
      color: #7b7b7b;
      font-size: 1.5rem;
      margin-bottom: 0; }
    /* line 153, ../scss/_home.scss */
    .homepage-lower-content .homepage-module .learn-more {
      color: #ab8b0a;
      font-size: 1.1em;
      text-transform: uppercase; }
      /* line 57, ../scss/style.scss */
      .homepage-lower-content .homepage-module .learn-more:hover {
        text-decoration: underline; }
  /* line 157, ../scss/_home.scss */
  .homepage-lower-content .homepage-event-feed {
    width: 28.5714286%;
    float: left; }
    /* line 160, ../scss/_home.scss */
    .homepage-lower-content .homepage-event-feed h1 {
      background-color: #a9890a;
      color: white;
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      text-align: center;
      text-transform: uppercase;
      padding: 0.8rem 0; }
    /* line 170, ../scss/_home.scss */
    .homepage-lower-content .homepage-event-feed .event {
      padding: 1.5rem 0;
      border-bottom: 1px solid #a6a6a6; }
      /* line 173, ../scss/_home.scss */
      .homepage-lower-content .homepage-event-feed .event:last-child {
        border: none; }
    /* line 177, ../scss/_home.scss */
    .homepage-lower-content .homepage-event-feed .event-date {
      background-color: #761313;
      color: white;
      float: left;
      margin-right: 0.6rem;
      padding: 0.4rem 1rem;
      text-align: center;
      text-transform: uppercase;
      width: 18.5714286%; }
      /* line 186, ../scss/_home.scss */
      .homepage-lower-content .homepage-event-feed .event-date span {
        display: block; }
      /* line 189, ../scss/_home.scss */
      .homepage-lower-content .homepage-event-feed .event-date .month {
        font-size: 1.3rem; }
      /* line 192, ../scss/_home.scss */
      .homepage-lower-content .homepage-event-feed .event-date .date {
        font-size: 2.4rem; }
    /* line 196, ../scss/_home.scss */
    .homepage-lower-content .homepage-event-feed h2 {
      display: inline;
      font-size: 1.6rem; }
    /* line 200, ../scss/_home.scss */
    .homepage-lower-content .homepage-event-feed p {
      color: #7b7b7b;
      font-size: 1.4rem;
      margin-bottom: 0; }
    /* line 205, ../scss/_home.scss */
    .homepage-lower-content .homepage-event-feed .learn-more {
      color: #ab8b0a;
      font-size: 1.1em;
      text-transform: uppercase; }
      /* line 57, ../scss/style.scss */
      .homepage-lower-content .homepage-event-feed .learn-more:hover {
        text-decoration: underline; }

/* Main Standard Content */
/* line 279, ../scss/style.scss */
.site-main {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 6rem; }
  /* line 28, ../scss/style.scss */
  .site-main:after {
    content: "";
    display: table;
    clear: both; }

/* line 284, ../scss/style.scss */
.cover-photo {
  max-height: 35rem;
  min-height: 5.9em;
  overflow: hidden; }
  /* line 288, ../scss/style.scss */
  .cover-photo img {
    width: 100%;
    height: auto; }

/* line 294, ../scss/style.scss */
.content-wrap {
  margin: -5.9em auto 0;
  position: relative;
  z-index: 2; }
  /* line 28, ../scss/style.scss */
  .content-wrap:after {
    content: "";
    display: table;
    clear: both; }

/* line 301, ../scss/style.scss */
.widget-area {
  background-color: #fdfdfd;
  border: 3px solid #f1eee4;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 1px; }
  @media (min-width: 50em) {
    /* line 301, ../scss/style.scss */
    .widget-area {
      float: left;
      width: 27.5510204%; } }

/* line 312, ../scss/style.scss */
.content-area {
  width: 100%; }
  @media (min-width: 50em) {
    /* line 312, ../scss/style.scss */
    .content-area {
      box-sizing: border-box;
      float: right;
      width: 71.4285714%; } }

/* line 322, ../scss/style.scss */
.site-content .entry-header {
  background-color: #390202;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  margin-left: -3px;
  padding: 1.5em 0 1em 5.71429%; }
  /* line 326, ../scss/style.scss */
  .site-content .entry-header .entry-title {
    color: white;
    font-size: 2.8em;
    text-transform: uppercase; }
/* line 332, ../scss/style.scss */
.site-content .entry-content {
  padding-left: 5.2631579%;
  line-height: 1.4; }
  /* line 335, ../scss/style.scss */
  .site-content .entry-content h1 {
    color: #761313;
    font-size: 2.8em; }
  /* line 339, ../scss/style.scss */
  .site-content .entry-content h2 {
    font-size: 1.9em; }
  /* line 342, ../scss/style.scss */
  .site-content .entry-content h3 {
    color: #761313;
    font-size: 1.5rem; }
  /* line 347, ../scss/style.scss */
  .site-content .entry-content h1 + h2 {
    margin-bottom: 2.5rem; }
  /* line 350, ../scss/style.scss */
  .site-content .entry-content ul {
    margin-bottom: 1.5rem; }
  /* line 354, ../scss/style.scss */
  .site-content .entry-content p,
  .site-content .entry-content li {
    color: #505050;
    font-size: 1.4em;
    line-height: 1.5; }
  /* line 359, ../scss/style.scss */
  .site-content .entry-content a {
    color: #dcb000; }
    /* line 361, ../scss/style.scss */
    .site-content .entry-content a:hover {
      text-decoration: underline; }
/* line 366, ../scss/style.scss */
.site-content .presentation {
  background-color: #f5f5f5;
  padding: 1.5rem;
  margin: 0 0 0.8rem -1.5rem; }
  /* line 28, ../scss/style.scss */
  .site-content .presentation:after {
    content: "";
    display: table;
    clear: both; }
  /* line 371, ../scss/style.scss */
  .site-content .presentation h1 {
    color: #761313;
    font-size: 1.5rem; }

/* FORMS */
/* line 379, ../scss/style.scss */
.gform_heading {
  margin-bottom: 1.5rem; }
  /* line 381, ../scss/style.scss */
  .gform_heading .gform_description {
    font-size: 1.9em; }

/* line 28, ../scss/style.scss */
.gform_footer:after {
  content: "";
  display: table;
  clear: both; }
/* line 388, ../scss/style.scss */
.gform_footer input[type="submit"] {
  background-color: #f6f3e5;
  border: 2px solid white;
  color: #ad8f12;
  display: block;
  float: left;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 3.5rem 1rem 2.5rem;
  position: relative;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2) inset; }
  /* line 97, ../scss/style.scss */
  .gform_footer input[type="submit"]:after {
    content: "";
    background: url(../inc/images/assets.png) no-repeat -36px 0;
    display: block;
    width: 8px;
    height: 11px;
    position: absolute;
    right: 1.8rem;
    bottom: 1.4rem; }
  /* line 390, ../scss/style.scss */
  .gform_footer input[type="submit"]:hover {
    background-color: #ede7cc; }

/* line 396, ../scss/style.scss */
.gfield {
  margin-top: 1rem; }
  /* line 398, ../scss/style.scss */
  .gfield input {
    box-sizing: border-box;
    padding: 5px 0;
    width: 99%; }

/* line 405, ../scss/style.scss */
.gfield_label {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

/* line 28, ../scss/style.scss */
.contact-name .ginput_container:after {
  content: "";
  display: table;
  clear: both; }
/* line 415, ../scss/style.scss */
.contact-name .ginput_left,
.contact-name .ginput_right {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 47%; }
  /* line 420, ../scss/style.scss */
  .contact-name .ginput_left label,
  .contact-name .ginput_right label {
    color: #dcb000; }
/* line 424, ../scss/style.scss */
.contact-name .ginput_right {
  float: right; }

/* line 429, ../scss/style.scss */
div[class^="gform_confirmation_message"] {
  font-size: 1.9rem; }

/* line 434, ../scss/style.scss */
.validation_error,
.validation_message {
  font-size: 1.4rem;
  color: #761313; }

/* line 442, ../scss/style.scss */
.hentry {
  margin: 0 0 1.5em; }

/* line 445, ../scss/style.scss */
.entry-meta {
  clear: both; }

/* line 448, ../scss/style.scss */
.byline {
  display: none; }

/* line 452, ../scss/style.scss */
.single .byline,
.group-blog .byline {
  display: inline; }

/* line 456, ../scss/style.scss */
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

/* line 459, ../scss/style.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* ENERGY FOLKS PAGE */
/* Energy Folks restyling*/
/* CALENDAR PAGE */
/* line 6, ../scss/_energyfolks.scss */
span[id^="EnFolksScoreSpan"] a img {
  width: 0;
  height: 0;
  background: url("../inc/images/assets.png") no-repeat 1px -97px;
  padding: 17px 20px 17px 17px; }

/* line 13, ../scss/_energyfolks.scss */
span[id^="EnFolksScoreSpan"] a[id^="EnFolks_Vote_Down"] img,
span[id^="EnFolksScoreSpan"] a + a img {
  background-position: -38px -97px; }

/* line 19, ../scss/_energyfolks.scss */
.EnFolksBackground td[id^="cell"] {
  padding-bottom: 1rem; }
/* line 22, ../scss/_energyfolks.scss */
.EnFolksBackground .ef_mouseover {
  background-color: whitesmoke; }

/* line 28, ../scss/_energyfolks.scss */
div.EnFolksListItem {
  background-color: whitesmoke;
  border-bottom: 2px solid #e1e1e1;
  padding: 1rem;
  /*
  span[id^="EnFolksScoreSpan"] a img {
  	width:0;
  	height: 0;
  	background: url("../inc/images/assets.png") no-repeat;
  	padding: 17px 20px 17px 17px;
  }
  span[id^="EnFolksScoreSpan"] a[id^="EnFolks_Vote_Down"] img {
  	background-position: -37px 0;
  }
  */ }
  /* line 30, ../scss/_energyfolks.scss */
  div.EnFolksListItem table {
    color: #505050;
    font-size: 1.4rem; }
    /* line 33, ../scss/_energyfolks.scss */
    div.EnFolksListItem table:hover {
      background-color: whitesmoke; }
    /* line 36, ../scss/_energyfolks.scss */
    div.EnFolksListItem table h4 {
      font-size: 1.5rem;
      color: #761313; }
  /* line 52, ../scss/_energyfolks.scss */
  div.EnFolksListItem .EnFolksSepLine {
    display: none; }

/* line 56, ../scss/_energyfolks.scss */
a[id^="AID"] {
  color: #dcb000;
  font-size: 1.1rem;
  text-transform: uppercase; }
  /* line 60, ../scss/_energyfolks.scss */
  a[id^="AID"]:hover {
    text-decoration: underline; }

/* line 64, ../scss/_energyfolks.scss */
span[id^="calspan"] {
  color: #761313;
  font-size: 1.2rem; }

/* line 68, ../scss/_energyfolks.scss */
.EnFolksPopup {
  color: #505050;
  font-size: 1.4rem; }
  /* line 71, ../scss/_energyfolks.scss */
  .EnFolksPopup h4 a {
    font-size: 1.5rem;
    color: #761313; }

/* line 76, ../scss/_energyfolks.scss */
td.EnFolksListViewDatebar {
  background-color: #b1931c;
  color: white;
  font-family: "HelveticaNeueW01-75Bold", sans-serif;
  padding: 0.5rem 1rem; }

/* line 83, ../scss/_energyfolks.scss */
td.EnFolksTodayDatebar {
  background-color: transparent;
  color: #761313;
  font-family: "Museo Sans W01 500", sans-serif;
  padding-bottom: 1rem; }

/* line 94, ../scss/_energyfolks.scss */
td.EnFolksHeadings {
  background-color: #b1931c; }

/* line 97, ../scss/_energyfolks.scss */
td.EnFolksMonthDays {
  border-color: #977d18;
  padding-top: 0.5rem; }

/* BULLETINS PAGE */
/* line 106, ../scss/_energyfolks.scss */
#EnfolksResultDiv > div {
  background-color: whitesmoke;
  border-bottom: 2px solid #e1e1e1;
  padding: 1rem; }

/* SLOAN PAGE */
/* line 3, ../scss/_sloan.scss */
.sloan .content-wrap {
  margin-top: -12rem; }
/* line 7, ../scss/_sloan.scss */
.sloan .entry-header {
  height: 12rem;
  margin-left: 0;
  padding: 0; }
  /* line 11, ../scss/_sloan.scss */
  .sloan .entry-header .carousel-slide {
    color: white;
    height: 9.5rem;
    padding: 1.5rem 0 1rem 0; }
    /* line 15, ../scss/_sloan.scss */
    .sloan .entry-header .carousel-slide * {
      padding-left: 4.5rem;
      padding-right: 4rem; }
    /* line 19, ../scss/_sloan.scss */
    .sloan .entry-header .carousel-slide h1 {
      font-size: 2.2rem;
      text-transform: uppercase;
      margin-bottom: 1rem; }
    /* line 24, ../scss/_sloan.scss */
    .sloan .entry-header .carousel-slide p {
      font-size: 1.6rem;
      margin-bottom: 0;
      height: 3.8rem;
      overflow: hidden; }
    /* line 30, ../scss/_sloan.scss */
    .sloan .entry-header .carousel-slide a {
      color: #dcb000;
      font-size: 1.4rem;
      text-transform: uppercase; }
      /* line 34, ../scss/_sloan.scss */
      .sloan .entry-header .carousel-slide a:hover {
        text-decoration: underline; }
/* line 41, ../scss/_sloan.scss */
.sloan .bx-wrapper {
  margin: 0 0 0 -3px; }
  /* line 43, ../scss/_sloan.scss */
  .sloan .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: auto;
    background: none; }
  /* line 49, ../scss/_sloan.scss */
  .sloan .bx-wrapper .bx-prev {
    left: 0.5rem;
    background: url(../inc/images/assets.png) no-repeat 0 -34px; }
  /* line 53, ../scss/_sloan.scss */
  .sloan .bx-wrapper .bx-next {
    right: 0.5rem;
    background: url(../inc/images/assets.png) no-repeat -32px -34px; }
/* line 60, ../scss/_sloan.scss */
.sloan .sloan-feature {
  background-color: whitesmoke;
  border-bottom: 2px solid #e1e1e1;
  padding: 1rem;
  width: 100%; }
  @media (min-width: 31.25em) {
    /* line 60, ../scss/_sloan.scss */
    .sloan .sloan-feature {
      width: 46.686747%;
      max-width: 32.5rem; } }
  /* line 67, ../scss/_sloan.scss */
  .sloan .sloan-feature img {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 31rem; }
  /* line 72, ../scss/_sloan.scss */
  .sloan .sloan-feature h1 {
    color: #761313;
    font-size: 1.5rem; }
  /* line 76, ../scss/_sloan.scss */
  .sloan .sloan-feature p {
    font-size: 1.4rem;
    height: 8.4rem;
    overflow: hidden; }
/* line 82, ../scss/_sloan.scss */
.sloan .volunteers {
  float: left; }
/* line 85, ../scss/_sloan.scss */
.sloan .applicants {
  float: right; }

/* EXECUTIVE COMMITTEE PAGE */
/* line 475, ../scss/style.scss */
.team-member {
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border-bottom: 2px solid #e1e1e1;
  padding: 1rem; }
  /* line 28, ../scss/style.scss */
  .team-member:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 25em) {
    /* line 479, ../scss/style.scss */
    .team-member img {
      max-width: 15%;
      float: left; } }
  @media (min-width: 60em) {
    /* line 479, ../scss/style.scss */
    .team-member img {
      max-width: 100%; } }
  /* line 488, ../scss/style.scss */
  .team-member .member-description {
    float: right; }
    @media (min-width: 25em) {
      /* line 488, ../scss/style.scss */
      .team-member .member-description {
        float: right;
        width: 70%;
        margin-left: 5%; } }
    @media (min-width: 60em) {
      /* line 488, ../scss/style.scss */
      .team-member .member-description {
        width: 76%; } }
    /* line 498, ../scss/style.scss */
    .team-member .member-description h1 {
      font-size: 1.9rem; }

/* line 504, ../scss/style.scss */
.sloan-about-us .member-description {
  width: 100%; }

/* SPONSORS PAGE */
/* line 511, ../scss/style.scss */
.sponsor-single {
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border-bottom: 2px solid #e1e1e1;
  padding: 1rem; }
  /* line 514, ../scss/style.scss */
  .sponsor-single img {
    float: left;
    margin: 0 1rem 1rem 0; }
  /* line 518, ../scss/style.scss */
  .sponsor-single h3 {
    display: inline-block; }

/* =Asides
----------------------------------------------- */
/* line 527, ../scss/style.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* line 531, ../scss/style.scss */
.sidebar-nav {
  margin-bottom: 3.5em;
  text-transform: uppercase; }
  /* line 534, ../scss/style.scss */
  .sidebar-nav h1 {
    color: #dcb000;
    font-size: 1.2em;
    padding: 1.5em 0 1em 7.40741%; }
  /* line 539, ../scss/style.scss */
  .sidebar-nav li {
    border-top: 1px solid #e1e1e1;
    cursor: pointer; }
    /* line 543, ../scss/style.scss */
    .sidebar-nav li > a {
      color: #7b7b7b;
      display: block;
      font-size: 1.4rem;
      padding: 1rem 0 1rem 7.40741%; }
    /* line 551, ../scss/style.scss */
    .sidebar-nav li.current_page_item, .sidebar-nav li.current-cat, .sidebar-nav li:hover {
      background-color: #e1e1e1; }

/* Tiemly Content */
/* line 558, ../scss/style.scss */
.timely-content {
  border-top: 1px solid #e1e1e1;
  line-height: 1.4;
  padding: 1em 0 1em 7.40741%; }
  /* line 563, ../scss/style.scss */
  .timely-content h1 {
    font-size: 1.5em;
    margin-bottom: 1rem; }
  /* line 567, ../scss/style.scss */
  .timely-content img {
    max-width: 85.1851852%;
    height: auto;
    margin-bottom: 1em; }
  /* line 572, ../scss/style.scss */
  .timely-content p {
    color: #7b7b7b;
    margin-bottom: 0.5em; }
  /* line 576, ../scss/style.scss */
  .timely-content a {
    color: #ab8b0a;
    font-size: 1.1em;
    text-transform: uppercase; }
    /* line 57, ../scss/style.scss */
    .timely-content a:hover {
      text-decoration: underline; }

/* Facebook Like Box Plugin */
/* line 582, ../scss/style.scss */
.facebook-outer {
  border-top: 1px solid #e1e1e1;
  width: 27rem;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(#f3f3f3, #fdfdfd);
  background-image: -moz-linear-gradient(#f3f3f3, #fdfdfd);
  background-image: -o-linear-gradient(#f3f3f3, #fdfdfd);
  background-image: linear-gradient(#f3f3f3, #fdfdfd); }

/* =Footer
----------------------------------------------- */
/* line 592, ../scss/style.scss */
.sponsor-footer-wrap {
  border-bottom: 2px solid #e1e1e1;
  width: 100%; }

/* line 596, ../scss/style.scss */
.sponsor-footer {
  margin: 0 auto;
  width: 98rem; }
  /* line 28, ../scss/style.scss */
  .sponsor-footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 600, ../scss/style.scss */
  .sponsor-footer h1 {
    color: #761313;
    float: left;
    font-size: 1.5rem;
    padding-top: 5rem;
    text-align: right;
    width: 11rem;
    height: 7rem; }
  /* line 609, ../scss/style.scss */
  .sponsor-footer .sponsor-logo {
    cursor: pointer;
    float: left;
    width: 17.5rem;
    height: 12rem;
    background-repeat: no-repeat; }
    @media (min-width: 37.5em) {
      /* line 609, ../scss/style.scss */
      .sponsor-footer .sponsor-logo {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%); }
        /* line 617, ../scss/style.scss */
        .sponsor-footer .sponsor-logo:hover {
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          filter: grayscale(0); } }

/* line 624, ../scss/style.scss */
.footer-inner {
  margin: 2em auto; }
  /* line 28, ../scss/style.scss */
  .footer-inner:after {
    content: "";
    display: table;
    clear: both; }

/* line 628, ../scss/style.scss */
.copyright {
  color: #7b7b7b;
  float: left;
  margin-top: 1em; }

/* line 633, ../scss/style.scss */
.sharing {
  float: right; }
  @media (min-width: 25em) {
    /* line 633, ../scss/style.scss */
    .sharing {
      min-width: 40em; } }
  /* line 638, ../scss/style.scss */
  .sharing .stay-connected {
    border-right: 1px solid #e1e1e1;
    font-size: 1.2em;
    margin-right: 1rem;
    padding: 1rem; }
    @media (min-width: 25em) {
      /* line 638, ../scss/style.scss */
      .sharing .stay-connected {
        float: left; } }
  /* line 647, ../scss/style.scss */
  .sharing .share-button {
    width: 2.6em;
    height: 2.6em;
    background: url("../inc/images/assets.png") no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    margin: 0.3em 1em; }
    /* line 653, ../scss/style.scss */
    .sharing .share-button:last-child {
      margin-right: 0; }
  /* line 657, ../scss/style.scss */
  .sharing .facebook-button {
    background-position: -1px -68px; }
  /* line 660, ../scss/style.scss */
  .sharing .twitter-button {
    background-position: -28px -68px; }
  /* line 663, ../scss/style.scss */
  .sharing .linkedin-button {
    background-position: -56px -68px; }
  /* line 666, ../scss/style.scss */
  .sharing .newsletter-button {
    background-position: -83px -68px; }
  /* line 669, ../scss/style.scss */
  .sharing .contact-button {
    background-position: -110px -68px; }
  /* line 672, ../scss/style.scss */
  .sharing .addthis-button {
    background-position: -137px -68px; }

/* =Media
----------------------------------------------- */
/* line 683, ../scss/style.scss */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%;
  /* Fluid images for posts, comments, and widgets */ }

/* line 689, ../scss/style.scss */
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

/* line 694, ../scss/style.scss */
.site-header img,
.entry-content img,
img.size-full {
  max-width: 100%;
  width: auto;
  /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

/* line 699, ../scss/style.scss */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* line 705, ../scss/style.scss */
.wp-caption {
  border: 1px solid #cccccc;
  max-width: 100%; }

/* line 711, ../scss/style.scss */
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
  margin-bottom: 1.5em; }

/* line 714, ../scss/style.scss */
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

/* line 719, ../scss/style.scss */
.wp-caption-text {
  text-align: center; }

/* line 722, ../scss/style.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/* line 725, ../scss/style.scss */
.site-content .gallery {
  margin-bottom: 1.5em; }

/* line 730, ../scss/style.scss */
.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

/* line 735, ../scss/style.scss */
.site-content .gallery dd {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
/* line 746, ../scss/style.scss */
embed,
iframe,
object {
  max-width: 100%; }

/* =Navigation
----------------------------------------------- */
/* line 754, ../scss/style.scss */
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

/* line 758, ../scss/style.scss */
.site-content .nav-previous {
  float: left;
  width: 50%; }

/* line 762, ../scss/style.scss */
.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
/* =Widgets
----------------------------------------------- */
/* line 777, ../scss/style.scss */
.widget {
  margin: 0 0 1.5em; }

/* Search widget */
/* line 782, ../scss/style.scss */
#searchsubmit {
  display: none; }
