/* =Resetting
----------------------------------------------- */
/*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* =Reset
-------------------------------------------------------------- */
/* line 19, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 30, ../scss/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

/* line 36, ../scss/_reset.scss */
body {
  background: #fff;
  font-family: 'Museo Sans W01 500', Helvetica, sans-serif; }

/* line 50, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/* line 53, ../scss/_reset.scss */
ol, ul {
  list-style: none; }

/* line 56, ../scss/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 60, ../scss/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 65, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 68, ../scss/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 71, ../scss/_reset.scss */
a:focus {
  outline: thin dotted; }

/* line 75, ../scss/_reset.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

/* line 78, ../scss/_reset.scss */
a img {
  border: 0; }

/* =Global
----------------------------------------------- */
/* =Global
----------------------------------------------- */
/* line 4, ../scss/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal; }

/* Headings */
/* line 11, ../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both; }

/* line 14, ../scss/_global.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
/* line 22, ../scss/_global.scss */
p {
  margin-bottom: 1.5em; }
  /* line 24, ../scss/_global.scss */
  p strong {
    font-weight: normal;
    font-family: 'HelveticaNeueW01-75Bold', sans-serif; }
  /* line 28, ../scss/_global.scss */
  p em {
    font-style: normal;
    font-family: 'MuseoSansW01-500Italic', sans-serif; }

/*
ul, ol {
	margin: 0 0 1.5em 3em;
}*/
/* line 37, ../scss/_global.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

/* line 41, ../scss/_global.scss */
dt {
  font-weight: bold; }

/* line 44, ../scss/_global.scss */
dd {
  margin: 0 1.5em 1.5em; }

/* line 47, ../scss/_global.scss */
b, strong {
  font-weight: bold; }

/* line 50, ../scss/_global.scss */
dfn, cite, em, i {
  font-style: italic; }

/* line 53, ../scss/_global.scss */
blockquote {
  margin: 0 1.5em; }

/* line 56, ../scss/_global.scss */
address {
  margin: 0 0 1.5em; }

/* line 59, ../scss/_global.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%; }

/* line 70, ../scss/_global.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

/* line 73, ../scss/_global.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

/* line 77, ../scss/_global.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/* line 82, ../scss/_global.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 89, ../scss/_global.scss */
sup {
  bottom: 1ex; }

/* line 92, ../scss/_global.scss */
sub {
  top: .5ex; }

/* line 95, ../scss/_global.scss */
small {
  font-size: 75%; }

/* line 98, ../scss/_global.scss */
big {
  font-size: 125%; }

/* line 101, ../scss/_global.scss */
figure {
  margin: 0; }

/* line 104, ../scss/_global.scss */
table {
  margin: 0 0 1.5em;
  width: 100%; }

/* line 108, ../scss/_global.scss */
th {
  font-weight: bold; }

/* line 111, ../scss/_global.scss */
img {
  vertical-align: middle; }

/* line 117, ../scss/_global.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */ }

/* line 124, ../scss/_global.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */ }

/* line 131, ../scss/_global.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.12em 1.5em 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

/* line 151, ../scss/_global.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

/* line 164, ../scss/_global.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

/* line 171, ../scss/_global.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

/* line 175, ../scss/_global.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box; }

/* line 181, ../scss/_global.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

/* line 185, ../scss/_global.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

/* line 191, ../scss/_global.scss */
input[type=text],
input[type=email],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }

/* line 198, ../scss/_global.scss */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  color: #111; }

/* line 202, ../scss/_global.scss */
input[type=text],
input[type=email] {
  padding: 3px; }

/* line 205, ../scss/_global.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/* Links */
/* line 214, ../scss/_global.scss */
a {
  text-decoration: none;
  /*
  color: royalblue;
  &:visited {
  	color: purple;
  }
  &:hover {
  	text-decoration: underline;
  }
  &:hover,
  &:focus,
  &:active {
  	color: midnightblue;
  }*/ }

/* Alignment */
/* line 232, ../scss/_global.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

/* line 237, ../scss/_global.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

/* line 242, ../scss/_global.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Text meant only for screen readers */
/* line 249, ../scss/_global.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

/* SCSS 
---------------------------------------- */
/* Variables */
/* Mixins */
/* =Layout
----------------------------------------------- */
/* line 53, ../scss/style.scss */
.site-header,
.nav-wrapper {
  width: 100%; }

/* line 60, ../scss/style.scss */
.top-links,
.main-header,
.site-navigation,
.footer-inner,
.content-wrap {
  width: 98em; }

/* =Header
----------------------------------------------- */
/* line 67, ../scss/style.scss */
.site-header .top-links {
  height: 3.2em;
  margin: 0 auto;
  padding-left: 5em;
  box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.2); }
  @media (min-width: 103em) {
    /* line 67, ../scss/style.scss */
    .site-header .top-links {
      width: 103em; } }
  /* line 75, ../scss/style.scss */
  .site-header .top-links li {
    float: left;
    list-style: none;
    margin-left: 5em; }
    /* line 79, ../scss/style.scss */
    .site-header .top-links li:before {
      background: url(../images/top-links.png);
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 0.4em 0.1em 0; }
    /* line 87, ../scss/style.scss */
    .site-header .top-links li a {
      color: #7b7b7b;
      font-size: 1.4em;
      text-transform: uppercase; }
    /* line 94, ../scss/style.scss */
    .site-header .top-links li:nth-child(2):before, .site-header .top-links li:first-child + li:before {
      background-position: 8px 0; }
    /* line 100, ../scss/style.scss */
    .site-header .top-links li:nth-child(3):before, .site-header .top-links li:first-child + li + li:before {
      background-position: 16px 0; }
    /* line 106, ../scss/style.scss */
    .site-header .top-links li:nth-child(4):before, .site-header .top-links li:first-child + li + li + li:before {
      background-position: 24px 0; }
/* line 112, ../scss/style.scss */
.site-header .main-header {
  margin: 3em auto; }
  /* line 27, ../scss/style.scss */
  .site-header .main-header:after {
    content: "";
    display: table;
    clear: both; }
  /* line 115, ../scss/style.scss */
  .site-header .main-header .site-title {
    background: url(../images/logo.png) no-repeat;
    display: block;
    float: left;
    text-indent: -100%;
    width: 387px;
    height: 58px; }
  /* line 123, ../scss/style.scss */
  .site-header .main-header .member-login a {
    background: #fbfbfb url(../images/login-arrow.png) no-repeat 11px 11px;
    border: 2px solid white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: #b1931c;
    float: right;
    font-size: 1.6em;
    line-height: 1;
    padding: 1.5rem 4rem 1rem;
    text-transform: uppercase; }
    /* line 134, ../scss/style.scss */
    .site-header .main-header .member-login a:hover {
      background-color: #eaeaea;
      text-decoration: none; }

/* =Menu
----------------------------------------------- */
/* line 145, ../scss/style.scss */
.nav-wrapper {
  height: 4.6em;
  background: #b1931c; }
  /* line 148, ../scss/style.scss */
  .nav-wrapper .site-navigation {
    clear: both;
    display: block;
    margin: 0 auto; }
    /* line 27, ../scss/style.scss */
    .nav-wrapper .site-navigation:after {
      content: "";
      display: table;
      clear: both; }
    /* line 153, ../scss/style.scss */
    .nav-wrapper .site-navigation ul {
      list-style: none;
      margin: 0 0 0 -2em;
      padding-left: 0; }
      /* line 157, ../scss/style.scss */
      .nav-wrapper .site-navigation ul ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        position: absolute;
        top: 1.5em;
        left: 0;
        z-index: 99999; }
        /* line 165, ../scss/style.scss */
        .nav-wrapper .site-navigation ul ul ul {
          left: 100%;
          top: 0; }
        /* line 169, ../scss/style.scss */
        .nav-wrapper .site-navigation ul ul a {
          width: 200px; }
    /* line 174, ../scss/style.scss */
    .nav-wrapper .site-navigation li {
      border-right: 2px solid #645206;
      float: left;
      position: relative;
      padding: 1.5rem 2rem; }
      /* line 179, ../scss/style.scss */
      .nav-wrapper .site-navigation li:last-child {
        border: none; }
      /* line 182, ../scss/style.scss */
      .nav-wrapper .site-navigation li:hover {
        background-color: #645206;
        cursor: pointer; }
    /* line 187, ../scss/style.scss */
    .nav-wrapper .site-navigation a {
      color: white;
      font-size: 1.6em;
      line-height: 1;
      display: block;
      text-transform: uppercase; }
      /* line 193, ../scss/style.scss */
      .nav-wrapper .site-navigation a:hover {
        text-decoration: none; }

/* Small menu */
/* line 201, ../scss/style.scss */
.menu-toggle {
  cursor: pointer; }

/* line 204, ../scss/style.scss */
.main-small-navigation .menu {
  display: none; }

/* =Content
----------------------------------------------- */
/* HOMEPAGE */
/* HOMEPAGE */
/* line 3, ../scss/_home.scss */
.homepage-feature {
  width: 100%;
  min-height: 67.4em;
  background: url(../images/homepage-feature.png) no-repeat center center fixed;
  background-size: cover;
  position: relative; }
  /* line 9, ../scss/_home.scss */
  .homepage-feature .main-headline {
    margin: 0 auto;
    width: 87em;
    padding-top: 40em;
    position: relative; }
    /* line 14, ../scss/_home.scss */
    .homepage-feature .main-headline p {
      background: rgba(57, 2, 2, 0.75);
      color: white;
      font-size: 3em;
      margin: 0;
      padding: 2rem;
      text-align: center;
      text-transform: uppercase; }
    /* line 24, ../scss/_home.scss */
    .homepage-feature .main-headline:before, .homepage-feature .main-headline:after {
      background: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      width: 5em;
      height: 20em;
      position: absolute;
      bottom: -15.5em;
      left: -5.5em; }
    /* line 34, ../scss/_home.scss */
    .homepage-feature .main-headline:after {
      left: 87.5em; }
  /* line 38, ../scss/_home.scss */
  .homepage-feature .supporting-content {
    background: rgba(0, 0, 0, 0.5);
    margin: 0.5em auto 0;
    position: relative;
    overflow: hidden;
    width: 88em;
    height: 15em; }
    /* line 45, ../scss/_home.scss */
    .homepage-feature .supporting-content .features {
      width: 20000em;
      position: absolute; }
    /* line 49, ../scss/_home.scss */
    .homepage-feature .supporting-content .feature {
      box-sizing: border-box;
      float: left;
      width: 88em;
      padding: 2rem 3rem; }
      /* line 54, ../scss/_home.scss */
      .homepage-feature .supporting-content .feature p {
        color: white;
        font-size: 1.8em;
        padding: 2rem 3rem;
        text-align: center; }
      /* line 60, ../scss/_home.scss */
      .homepage-feature .supporting-content .feature a {
        color: #dcb000;
        font-size: 1.1rem;
        text-transform: uppercase; }

/* line 69, ../scss/_home.scss */
.tabs-wrap {
  background: black;
  width: 100%;
  height: 1.6em; }
  /* line 73, ../scss/_home.scss */
  .tabs-wrap .bottom-tabs {
    margin: 0 auto;
    width: 98em; }
    /* line 27, ../scss/style.scss */
    .tabs-wrap .bottom-tabs:after {
      content: "";
      display: table;
      clear: both; }
  /* line 78, ../scss/_home.scss */
  .tabs-wrap .tab {
    background-color: #645206;
    direction: block;
    height: 1.6em;
    float: left; }
    /* line 83, ../scss/_home.scss */
    .tabs-wrap .tab.active {
      background-color: #b1931c; }
  /* line 87, ../scss/_home.scss */
  .tabs-wrap .tab-1 {
    width: 100%; }
  /* line 90, ../scss/_home.scss */
  .tabs-wrap .tab-2 {
    width: 48.9em; }
    /* line 92, ../scss/_home.scss */
    .tabs-wrap .tab-2:first-child {
      margin-right: 1px; }
  /* line 96, ../scss/_home.scss */
  .tabs-wrap .tab-3 {
    width: 32.6em;
    margin-right: 1px; }
    /* line 99, ../scss/_home.scss */
    .tabs-wrap .tab-3:last-child {
      margin-right: 0; }
  /* line 103, ../scss/_home.scss */
  .tabs-wrap .tab-4 {
    width: 24.42em;
    margin-right: 1px; }
    /* line 106, ../scss/_home.scss */
    .tabs-wrap .tab-4:last-child {
      margin-right: 0; }

/* Main Standard Content */
/* line 217, ../scss/style.scss */
.cover-photo {
  max-height: 35rem;
  overflow: hidden; }
  /* line 220, ../scss/style.scss */
  .cover-photo img {
    width: 100%;
    height: auto; }

/* line 226, ../scss/style.scss */
.content-wrap {
  margin: -5.9em auto 0;
  position: relative;
  z-index: 2; }
  /* line 27, ../scss/style.scss */
  .content-wrap:after {
    content: "";
    display: table;
    clear: both; }

/* line 233, ../scss/style.scss */
.widget-area {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 1px;
  background-color: #fdfdfd;
  border: 3px solid #f1eee4;
  width: 100%; }
  @media (min-width: 50em) {
    /* line 233, ../scss/style.scss */
    .widget-area {
      float: left;
      width: 27.5510204%; } }

/* line 244, ../scss/style.scss */
.content-area {
  width: 100%; }
  @media (min-width: 50em) {
    /* line 244, ../scss/style.scss */
    .content-area {
      box-sizing: border-box;
      float: right;
      width: 71.4285714%; } }

/* line 254, ../scss/style.scss */
.site-content .entry-header {
  background-color: #390202;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  margin-left: -3px;
  padding: 1.5em 0 1em 5.7142857%; }
  /* line 258, ../scss/style.scss */
  .site-content .entry-header .entry-title {
    color: white;
    font-size: 2.8em;
    text-transform: uppercase; }
/* line 264, ../scss/style.scss */
.site-content .entry-content {
  padding-left: 5.2631579%;
  line-height: 1.4; }
  /* line 267, ../scss/style.scss */
  .site-content .entry-content h1 {
    color: #761313;
    font-size: 2.8em; }
  /* line 271, ../scss/style.scss */
  .site-content .entry-content h2 {
    font-size: 1.9em; }
  /* line 274, ../scss/style.scss */
  .site-content .entry-content p {
    color: #505050;
    font-size: 1.4em; }

/* line 282, ../scss/style.scss */
.hentry {
  margin: 0 0 1.5em; }

/* line 285, ../scss/style.scss */
.entry-meta {
  clear: both; }

/* line 288, ../scss/style.scss */
.byline {
  display: none; }

/* line 292, ../scss/style.scss */
.single .byline,
.group-blog .byline {
  display: inline; }

/* line 296, ../scss/style.scss */
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

/* line 299, ../scss/style.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
/* line 309, ../scss/style.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* line 313, ../scss/style.scss */
.sidebar-nav {
  margin-bottom: 3.5em;
  text-transform: uppercase; }
  /* line 316, ../scss/style.scss */
  .sidebar-nav h1 {
    color: #dcb000;
    font-size: 1.2em;
    padding: 1.5em 0 1em 7.4074074%; }
  /* line 321, ../scss/style.scss */
  .sidebar-nav li {
    border-top: 1px solid #e1e1e1;
    cursor: pointer;
    padding: 1em 0 1em 7.4074074%; }
    /* line 325, ../scss/style.scss */
    .sidebar-nav li a {
      color: #7b7b7b;
      font-size: 1.4rem; }
    /* line 330, ../scss/style.scss */
    .sidebar-nav li.current_page_item, .sidebar-nav li:hover {
      background-color: #e1e1e1; }

/* =Footer
----------------------------------------------- */
/* line 338, ../scss/style.scss */
.footer-inner {
  margin: 2em auto; }
  /* line 27, ../scss/style.scss */
  .footer-inner:after {
    content: "";
    display: table;
    clear: both; }

/* line 342, ../scss/style.scss */
.copyright {
  color: #7b7b7b;
  float: left;
  margin-top: 1em; }

/* line 347, ../scss/style.scss */
.sharing {
  float: right; }
  @media (min-width: 25em) {
    /* line 347, ../scss/style.scss */
    .sharing {
      min-width: 40em; } }
  /* line 352, ../scss/style.scss */
  .sharing .stay-connected {
    border-right: 1px solid #e1e1e1;
    font-size: 1.2em;
    margin-right: 1rem;
    padding: 1rem; }
    @media (min-width: 25em) {
      /* line 352, ../scss/style.scss */
      .sharing .stay-connected {
        float: left; } }
  /* line 361, ../scss/style.scss */
  .sharing .share-button {
    width: 2.8em;
    height: 2.8em;
    background: url("../images/share-buttons.png") no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    margin: 0.3em 1em; }
    /* line 367, ../scss/style.scss */
    .sharing .share-button:last-child {
      margin-right: 0; }
  /* line 371, ../scss/style.scss */
  .sharing .twitter-button {
    background-position: -29px 0; }
  /* line 374, ../scss/style.scss */
  .sharing .linkedin-button {
    background-position: -58px 0; }
  /* line 377, ../scss/style.scss */
  .sharing .newsletter-button {
    background-position: -87px 0; }
  /* line 380, ../scss/style.scss */
  .sharing .contact-button {
    background-position: -116px 0; }
  /* line 383, ../scss/style.scss */
  .sharing .addthis-button {
    background-position: -145px 0; }

/* =Media
----------------------------------------------- */
/* line 394, ../scss/style.scss */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%;
  /* Fluid images for posts, comments, and widgets */ }

/* line 400, ../scss/style.scss */
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

/* line 405, ../scss/style.scss */
.site-header img,
.entry-content img,
img.size-full {
  max-width: 100%;
  width: auto;
  /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

/* line 410, ../scss/style.scss */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* line 416, ../scss/style.scss */
.wp-caption {
  border: 1px solid #ccc;
  max-width: 100%; }

/* line 422, ../scss/style.scss */
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
  margin-bottom: 1.5em; }

/* line 425, ../scss/style.scss */
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

/* line 430, ../scss/style.scss */
.wp-caption-text {
  text-align: center; }

/* line 433, ../scss/style.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/* line 436, ../scss/style.scss */
.site-content .gallery {
  margin-bottom: 1.5em; }

/* line 441, ../scss/style.scss */
.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

/* line 446, ../scss/style.scss */
.site-content .gallery dd {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
/* line 457, ../scss/style.scss */
embed,
iframe,
object {
  max-width: 100%; }

/* =Navigation
----------------------------------------------- */
/* line 465, ../scss/style.scss */
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

/* line 469, ../scss/style.scss */
.site-content .nav-previous {
  float: left;
  width: 50%; }

/* line 473, ../scss/style.scss */
.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
/* =Widgets
----------------------------------------------- */
/* line 488, ../scss/style.scss */
.widget {
  margin: 0 0 1.5em; }

/* Search widget */
/* line 493, ../scss/style.scss */
#searchsubmit {
  display: none; }
