/* HOMEPAGE */

.home {
	.site-main {
		border: none;
		padding: 0;
	}
}
.homepage-feature {
	width: 100%;
	min-height: 67.4em;
	background: url(../inc/images/homepage-feature.png) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	.main-headline {
		margin: 0 auto;
		width: 87em;
		padding-top: 40em;
		position: relative;
		p {
			background: rgba(57, 2, 2, 0.75); // #390202 = rgb(57,2,2)
			color: white;
			font-size: 3em;
			margin: 0;
			padding: 2rem;
			text-align: center;
			text-transform: uppercase;
		}
		&:before,
		&:after {
			background: rgba(0,0,0,0.5);
			content: "";
			display: block;
			width: 5em;
			height: 20em;
			position: absolute;
			bottom: -15.5em;
			left: -5.5em;
		}
		&:after {
			left: 87.5em;
		}
	}
	.supporting-content {
		background: rgba(0,0,0,0.5);
		margin: 0.5em auto 0;
		position: relative;
		overflow: hidden;
		width: 88em;
		height: 15em;
		.features {
			width: 20000em;
			position: absolute;
		}
		.feature {
			box-sizing: border-box;
			float: left;
			width: 88em;
			padding: 2rem 3rem;
			p {
				color: white;
				font-size: 1.8em;
				padding: 2rem 3rem;
				text-align: center;
			}
			a {
				color: $gold-text;
				font-size: 1.1rem;
				text-transform: uppercase;
			}
			
		}
	}
}
.tabs-wrap {
	background: black;
	width: 100%;
	height: 1.6em;
	.bottom-tabs {
		margin: 0 auto;
		width: 98rem;
		@include group;
	}
	.tab {
		background-color: $dark-gold;
		direction: block;
		height: 1.6em;
		float: left;
		&.active {
			background-color: $gold;
		}
	}
	.tab-1 {
		width: 100%;
	}
	.tab-2 {
		width: 48.9em;
		&:first-child {
			margin-right: 1px;
		}
	}
	.tab-3 {
		width: 32.6em;
		margin-right: 1px;
		&:last-child {
			margin-right: 0;
		}
	}
	.tab-4 {
		width: 24.42em;
		margin-right: 1px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.homepage-lower-wrap{
	background-color: $light-gray;
	padding: 3.5rem 0 8rem;
	width: 100%;
}
.homepage-lower-content {
	width: 100%;
	margin: 0 auto;
	width: 98rem;
	@include group;
	.homepage-module {
		float: left;
		line-height: 1.4;
		width: 28.5714286%; // 280px / 980px
		margin-right: 7.1428571%; // 60px / 980px
		h1 {
			color: white;
			font-size: 1.8rem;
			margin-bottom: -4.1rem;
			padding: 0.8rem 0;
			text-align: center;
			text-transform: uppercase;
			@include background-color(#a9890a, 0.6);
			@include box-shadow(0 2px 2px 3px rgba(0,0,0,0.2));
		}
		h2 {
			font-size: 1.8rem;
			margin-top: 1.5rem;
		}
		p {
			color: $gray-text;
			font-size: 1.5rem;
			margin-bottom: 0;
		}
		.learn-more {
			@include learn-more-link;
		}
	}
	.homepage-event-feed {
		width: 28.5714286%; //280px / 980px
		float: left;
		h1 {
			background-color: #c3ad51;
			color: white;
			font-size: 1.8rem;
			margin-bottom: 0.5rem;
			text-align: center;
			text-transform: uppercase;
			padding: 0.8rem 0;
		}
		.event {
			padding: 1.5rem 0;
			border-bottom: 1px solid $gray;
			&:last-child {
				border: none;
			}
		}
		.event-date {
			background-color: $maroon-text;
			color: white;
			float: left;
			margin-right: 0.6rem;
			padding: 0.4rem 1rem;
			text-align: center;
			text-transform: uppercase;
			width: 18.5714286%; // 52px / 280px
			span {
				display: block;
			}
			.month {
				font-size: 1.3rem;
			}
			.date {
				font-size: 2.4rem;
			}
		}
		h2 {
			display: inline;
			font-size: 1.6rem;
		}
		p {
			color: $gray-text;
			font-size: 1.4rem;
			margin-bottom: 0;
		}
		.learn-more {
			@include learn-more-link;
		}
	}
}