/* HOMEPAGE */

.home {
	.site-main {
		border: none;
		padding: 0;
	}
}
.homepage-feature {
	width: 100%;
	min-height: 67.4em;
	background: url(../inc/images/homepage-feature.png) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	.homepage-carousel {
		@media (min-width: $big-screen) {
			width: 98rem;
		}
		height: 16rem;
		margin: 0 auto;
		padding-top: 35.8rem;
		position: relative;
		overflow: hidden;
		@include group;
	}
	.headline-holder {
		background: rgba(57, 2, 2, 0.75);
		margin: 0 auto;
		position: relative;
		top: 51.4rem;
		@media (min-width: $big-screen) {
			width: 89.599rem; // 91.4285714% * 98rem
		}
		height: 6.6rem;
	}
	.content-holder {
		background: rgba(0,0,0,0.5);
		margin: 0 auto;
		position: relative;
		top: 51.8rem;
		width: 90.4rem; // 92.244898% * 98rem
		height: 9rem;
		@media (min-width: $big-screen) {
			&:before,
			&:after {
				background: rgba(0,0,0,0.5);
				bottom: 0;
				content: "";
				display: block;
				width: 3.8em;
				height: 13em;
				position: absolute;
			}
			&:before {
				left: -3.8em;
			}
			&:after {
				left: 90.4em;
			}
		}
	}
	.features {
		width: 20000em;
		position: absolute;
	}
	.feature-single {
		float: left;
		@media (min-width: $big-screen) {
			width: 98em;
		}
		position: relative;
		.headline {
			box-sizing: border-box;
			color: white;
			font-size: 2rem;
			@media (min-width: $medium-screen) {
				font-size: 2.5rem;
			}
			@media (min-width: $big-screen) {
				font-size: 3rem;
			}
			margin: 0 auto 0.4rem;
			padding: 1.5rem 2rem;
			text-align: center;
			text-transform: uppercase;
			width: 91.4285714%;
			height: 6.6rem;
			overflow: hidden;
		}
		.supporting-content {
			position: relative;
			overflow: hidden;
			margin: 0 auto;
			width: 92.244898%;
			height: 9rem;
		}
		p {
			color: white;
			font-size: 1.8em;
			padding: 2rem 3rem;
			text-align: center;
			margin: 0;
		}
		.learn-more {
			font-size: 1.1rem;
			text-transform: uppercase;
		}
	}
}
.tabs-wrap {
	background: black;
	width: 100%;
	height: 3em;
	@media (min-width: $medium-screen) {
		height: 2.5em;
	}
	@media (min-width: $big-screen) {
		height: 1.6em;
	}
	.bottom-tabs {
		margin: 0 auto;
		@media (min-width: $big-screen) {
			width: 98rem;
		}
		@include group;
	}
	.tab {
		background-color: $darker-gold;
		direction: block;
		height: 3em;
		float: left;
		@media (min-width: $medium-screen) {
			height: 2.5em;
		}
		@media (min-width: $big-screen) {
			height: 1.6em;
		}

		&.active {
			background-color: $gold;
		}
	}
	.tab-1 {
		width: 100%;
	}
	.tab-2 {
		width: 49.87%;
		&:first-child {
			margin-right: 1px;
		}
	}
	.tab-3 {
		width: 33.25%;
		margin-right: 1px;
		&:last-child {
			margin-right: 0;
		}
	}
	.tab-4 {
		margin-right: 1px;
		width: 24.80%;
		@media (min-width: $medium-screen) {
			width: 24.87%;
		}
		@media (min-width: $big-screen) {
			width: 24.92%;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
.homepage-lower-wrap{
	background-color: $light-gray;
	padding: 3.5rem 0 8rem;
	width: 100%;
}
.homepage-lower-content {
	width: 100%;
	margin: 0 auto;
	@media (min-width: $big-screen) {
		width: 98rem;
	}
	@include group;
	.module-wrap {
		@media (min-width: $big-screen) {
			width: 70rem;
			float: left;
		}
		@include group;
	}
	.homepage-module {
		box-sizing: border-box;
		line-height: 1.4;
		margin: 0 auto 1rem;
		width: 28rem;
		@media (min-width: $medium-screen) {
			&:first-child {
				float: left;
				margin-left: 5%;
			}
			&:last-child {
				float: right;
				margin-right: 5%;
			}
		}
		@media (min-width: 48.125em) {
			&:first-child {
				margin-left: 10%;
			}
			&:last-child {
				margin-right: 10%;
			}
		}
		@media (min-width: $big-screen) {
			float: left;
			margin-right: 10%; // 70px / 700px
			&:first-child,
			&:last-child {
				margin-left: 0;
			}
		}
		h1 {
			color: white;
			font-size: 1.8rem;
			margin-bottom: -4.1rem;
			padding: 0.8rem 0;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			background-color: #a9890a;
			//@include background-color(#a9890a, 0.8);
			@include box-shadow(0 1px 1px 1px rgba(0,0,0,0.2));
		}
		h2 {
			font-size: 1.8rem;
			margin-top: 1.5rem;
			line-height: 1.22222; // 22 / 18
		}
		p {
			color: $gray-text;
			font-size: 1.5rem;
			margin-bottom: 0;
		}
		.learn-more {
			@include learn-more-link;
		}
	}
	.homepage-event-feed {
		margin: 1rem auto;
		width: 28rem;
		@media (min-width: $medium-screen) {
			margin: 1.5rem 5%;
			width: auto;
		}
		@media (min-width: 48.125em) {
			margin: 2rem 10%;
		}
		@media (min-width: $big-screen) {
			float: left;
			margin: 0;
			width: 28.5714286%; //280px / 980px
		}
		h1 {
			//background-color: #c3ad51;
			background-color: #a9890a;
			color: white;
			font-size: 1.8rem;
			margin-bottom: 0.5rem;
			text-align: center;
			text-transform: uppercase;
			padding: 0.8rem 0;
		}
		.event {
			padding: 1.5rem 0;
			border-bottom: 1px solid $gray;
			&:last-child {
				border: none;
			}
		}
		.event-date {
			background-color: $maroon-text;
			color: white;
			float: left;
			margin: 0 1rem 1rem 0;
			padding: 0.4rem 1rem;
			text-align: center;
			text-transform: uppercase;
			width: 5.2rem;
			@media (min-width: $big-screen) {
				//margin-right: 0.6rem;
			}
			span {
				display: block;
			}
			.month {
				font-size: 1.3rem;
			}
			.date {
				font-size: 2.4rem;
			}
		}
		h2 {
			display: inline;
			font-size: 1.6rem;
		}
		p {
			color: $gray-text;
			font-size: 1.4rem;
			margin-bottom: 0;
		}
		.learn-more {
			@include learn-more-link;
			font-size: 1.1rem;
		}
	}
}