/* =Bits
----------------------------------------------- */
@import "_bits";

/* =Resetting
----------------------------------------------- */
@import "_reset";

/* =Global
----------------------------------------------- */
@import "_global";

//@import "_font-awesome";
@import "compass/css3";


/* =Layout
----------------------------------------------- */
.site-header,
.nav-wrapper {
	width: 100%;
}
.top-links,
.main-header,
.footer-inner,
.content-wrap {
	@media (min-width: $big-screen) {
		width: 100rem;
	}
}

/* =Repeatable Pattern
----------------------------------------------- */
@mixin cta-button {
	background-color: #f6f3e5;
	border: 2px solid white;
	color: #ad8f12; // @TODO: check whether ad8f12 is close to gold-text
	display: block;
	float: left;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 1rem 3.5rem 1rem 2.5rem;
	position: relative;
	text-transform: uppercase;
	@include box-shadow(0 0 2px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2) inset);
	&:after {
		content: "";
		background: url(../inc/images/assets.png) no-repeat -36px 0;
		display: block;
		width: 8px;
		height: 11px;
		position: absolute;
		right: 1.8rem;
		bottom: 1.4rem;
	}
}

.cta-button {
	@include cta-button;
}

/* =Header
----------------------------------------------- */
.site-header {
	.top-links {
		@media (min-width: 44.75em) {
			height: 3.2em;
		}
		margin: 0 auto;
		@media (min-width: 103em) {
			width: 103em;
		}
		box-shadow: 0 5px 6px -4px rgba(0,0,0,0.2);
		.links-toggle {
			color: $maroon-text;
			cursor: pointer;
			display: none;
			font-size: 1.4em;
			padding: 1rem 0 0.5rem;
			text-align: center;
			text-transform: uppercase;
		}
		ul {
			@media (min-width: 50em) {
				width: 77.5rem;
			}
			margin: 0 auto;
			@include group;
		}
		li {
			list-style: none;
			padding: 1rem 0 0.5rem;
			text-align: center;
			@media (min-width: 44.75em) {
				float: left;
				margin-left: 3em;
				text-align: left;
			}
			@media (min-width: 46.875em) {
				margin-left: 4em;
			}
			@media (min-width: 50em) {
				margin-left: 4.9em;
			}
			&:before {
				background: url(../inc/images/assets.png);
				content:  "";
				display: inline-block;
				width: 9px;
				height: 9px;
				margin: 0 0.4em 0.1em 0;
			}
			&:first-child {
				margin-left: 0;
			}
			a {
				color: $gray-text;
				font-size: 1.4em;
				text-transform: uppercase;
				&:hover {
					color: $darker-gray-text;
				}
			}
			&:nth-child(2),
			&:first-child + li {
				&:before {
					background-position: -9px 0;
				}
			}
			&:nth-child(3),
			&:first-child + li + li {
				&:before {
					background-position: -18px 0;
				}
			}
			&:nth-child(4),
			&:first-child + li + li + li {
				&:before {
					background-position: -27px 0;
				}
			}
		}
	}
	.top-links-collapse {
		.links {
			display: none;
		}
		.links-toggle {
			display: block;
		}
	}
	.main-header {
		margin: 3em auto;
		@include group;
		.site-title {
			background: url(../inc/images/logo.png) no-repeat;
			display: block;
			float: left;
			text-indent: -100%;
			width: 387px;
			height: 58px;
		}
		.member-login {
			@include group;
			a {
				//background: #fbfbfb url(../inc/images/login-arrow.png) no-repeat 11px 11px;
				border: 2px solid white;
				box-shadow: inset 0 0 3px rgba(0,0,0,0.1),
							2px 2px 3px rgba(0,0,0,0.2);
				color: $gold;
				float: right;
				font-size: 1.6em;
				line-height: 1;
				padding: 1.5rem 2rem 1rem 4rem;
				position: relative;
				text-transform: uppercase;
				&:hover {
					background-color: #eaeaea;
					text-decoration: none;
				}
				&:before {
					background: url(../inc/images/assets.png) no-repeat 0 -10px;
					content: "";
					display: block;
					width: 22px;
					height: 22px;
					position: absolute;
					top: 10px;
					left: 12px;
				}
			}
		}
	}
}

/* =Menu
----------------------------------------------- */
.nav-wrapper {
	@media (min-width: $big-screen) {
		height: 4.6rem;
	}
	background: $gold;
	.site-navigation {
		@include group;
		clear: both;
		display: block;
		margin: 0 auto;
		@media (min-width: 45.625em) { // 730px
			width: 71rem;
		}
		@media (min-width: 47.5em) { // 760px
			width: 76rem;
		}
		@media (min-width: 58.75em) { // 940px
			width: 93.3rem;
		}
		@media (min-width: $big-screen) {
			width: 100rem;
		}
		.menu-main-menu-container {
			@include group;
		}
		ul {
			list-style: none;
			//padding: 0 7%;
			@include group;
			ul {
				display: none;
			}
			@media (min-width: $big-screen) {
				//padding: 0;
			}
		}
		li {
			border-bottom: 2px solid $dark-gold;
			box-sizing: border-box;
			@media (min-width: 45.625em) { // 730px
				border-left: 1.4px solid $dark-gold;
				border-right: 1.4px solid $dark-gold;
				float: left;
				//width: 14rem;
			}
			@media (min-width: 58.125em) { // 930px
				//width: 16rem;
			}
			position: relative;
			&:first-child {
				@media (min-width: 35em) {
					border-left: 2.7px solid $dark-gold;
				}
			}
			&:last-child {
				@media (min-width: 35em) {
					border-right: 2.7px solid $dark-gold;
				}
			}
			&:hover {
				background-color: $dark-gold;
				cursor: pointer;
			}
			&.current-menu-item,
			&.current-menu-ancestor,
			&.current-menu-parent {
				background-color: $dark-gold;
			}
			@media (min-width: $big-screen) {
				border-bottom: none;
				width: auto;
			}
		}
		a,
		.menu-toggle {
			color: white;
			font-size: 1.4rem;
			line-height: 1;
			display: block;
			padding: 0.9375em 0.6em;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
			@media (min-width: 47.5em) { // 760px
				font-size: 1.5rem;
			}
			@media (min-width: 58.75em) { // 940px
				padding: 0.9375em 1.2em;
			}
			@media (min-width: $big-screen) {
				font-size: 1.6rem;
				text-align: left;
			}
		}
		.menu-toggle {
			&.toggled-on {
				color: $maroon-text;
			}
		}
	}
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}

/* =Content
----------------------------------------------- */

/* HOMEPAGE */

@import "_home";

/* Main Standard Content */
.site-main {
	border-bottom: 2px solid $light-gray;
	overflow: hidden;
	padding-bottom: 6rem;
	@include group;
}
.cover-photo {
	max-height: 35rem;
	min-height: 5.9em;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}

.content-wrap {
	margin: -5.9em auto 0;
	position: relative;
	z-index: 2;
	@include group;
}

.widget-area {
	background-color: #fdfdfd;
	border: 3px solid #f1eee4;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	width: 28.1rem;
	z-index: 2;
	//box-shadow: 0 1px 4px 1px rgba(0,0,0,0.3);
	@include box-shadow(rgba(0,0,0,0.3) 0 1px 4px 1px);
	@media (min-width: 48.75em) { // min width 780px / 16
		float: left;
	}
}
.content-area {
	width: 100%;
	@include group;
	@media (min-width: 48.75em) { // min width 780px / 16
		box-sizing: border-box;
		float: right;
		width: 63.974359%; // 499px / 780px
	}
	@media (min-width: $big-screen) {
		width: 71.9rem;
	}
}

.site-content {
	.entry-header {
		@include background-color($maroon, 0.75);
		margin-left: -3px; // To make up for the box-shadow on the sidebar
		padding: 1.5em 0 1em 5.7142857%; //38px / 665px;
		width: 200rem;
		.entry-title {
			color: white;
			font-size: 2.8em;
			text-transform: uppercase;
		}
	}
	.entry-content {
		padding-left: 5.2631579%; // 35px / 665px
		line-height: 1.4;
		h1 {
			color: $maroon-text;
			font-size: 2.8em;
		}
		h2 {
			font-size: 1.9em;
		}
		h3 {
			color: $maroon-text;
			font-size: 1.5rem;
		}
		// add spacing for the subheadline (right after main headline)
		h1+h2 {
			margin-bottom: 2.5rem;
		}
		ul {
			margin-bottom: 1.5rem;
		}
		p,
		li {
			color: $carbon;
			font-size: 1.4em;
			line-height: 1.5;
		}
		a {
			//color: $gold-text;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.presentation {
		background-color: #f5f5f5;
		padding: 1.5rem;
		margin: 0 0 .8rem -1.5rem;
		@include group;
		h1 {
			color: $maroon-text;
			font-size: 1.5rem;
		}
	}
}

/* FORMS */
.gform_heading {
	margin-bottom: 1.5rem;
	.gform_description {
		font-size: 1.9em;
	}
}

.gform_footer {
	@include group;
	input[type="submit"] {
		@include cta-button;
		&:hover {
			background-color: #ede7cc;
		}
	}
}

.gfield {
	margin-top: 1rem;
	input {
		box-sizing: border-box;
		padding: 5px 0;
		width: 99%;
	}
}

.gfield_label {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.contact-name {
	.ginput_container {
		@include group;
	}
	.ginput_left,
	.ginput_right {
		box-sizing: border-box;
		display: block;
		float: left;
		width: 47%;
		label {
			color: $gold-text;
		}
	}
	.ginput_right {
		float: right;
	}
}

div[class^="gform_confirmation_message"] {
	font-size: 1.9rem;
}

.validation_error,
.validation_message {
	font-size: 1.4rem;
	color: $maroon-text;
}


.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* ENERGY FOLKS PAGE */

@import "_energyfolks";

/* SLOAN PAGE */

@import "_sloan";

/* EXECUTIVE COMMITTEE PAGE */


.team-member {
	margin-bottom: 1rem;
	@include group;
	@include list-item;
	img {
		margin: 0 1rem 1rem 0;
		@media (min-width: 25em) { // 400px / 16
			float: left;
		}
		@media (min-width: 60em ) { //960px / 16
			max-width: 100%;
		}
	}
	.member-description {
		float: right;
		width: 100%;
		@media (min-width: 25em) { // 400px / 16
			float: right;
		}
		@media (min-width: 30em) {
			width: 70%;
		}
		@media (min-width: 58em) {// 600px / 16
			width: 76%;
		}
		h1 {
			font-size: 1.9rem;
		}
	}
}
.sloan-about-us {
	.member-description {
		width: 100%;
	}
}

/* SPONSORS PAGE */

.sponsor-single {
	margin-bottom: 1rem;
	@include list-item;
	@include group;
	a {
		display: block;
		margin-left: 18rem;
	}
	img {
		float: left;
		margin: 0 1rem 1rem 0;
	}
	h3 {
		display: inline-block;
	}
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.sidebar-nav {
	margin-bottom: 3.5em;
	text-transform: uppercase;
	h1 {
		color: $gold-text;
		font-size: 1.2em;
		padding: 1.5em 0 1em 7.4074074%; //20px / 270px
	}
	li {
		border-top: 1px solid $light-gray;
		cursor: pointer;
		> a {
			color: $darker-gray-text;
			display: block;
			font-size: 1.4rem;
			padding: 1.2rem 0 0.8rem 7.4074074%; // 20px / 270px
		}
		&.current_page_item,
		&.current-cat,
		&:hover {
			background-color: $light-gray;
		}
	}
}

/* Tiemly Content */
.timely-content {
	// TO-DO: linear background gradient
	border-top: 1px solid $light-gray;
	line-height: 1.4;
	padding: 1em 0 1em 7.4074074%; // 20px / 270px
	h1 {
		font-size: 1.5em;
		margin-bottom: 1rem;
	}
	img {
		max-width: 85.1851852%; // 230px / 270px
		height: auto;
		margin-bottom: 1em;
	}
	p {
		color: $gray-text;
		margin-bottom: 0.5em;
	}
	a {
		@include learn-more-link;
	}
}

/* Facebook Like Box Plugin */
.facebook-outer {
	border-top: 1px solid $light-gray;
	width:27.5rem;
	//height:23.4rem;
	overflow: hidden;
	@include background-image(linear-gradient(#f3f3f3, #fdfdfd));
}

/* =Footer
----------------------------------------------- */
.sponsor-footer-wrap {
	border-bottom: 2px solid $light-gray;
	width: 100%;
}
.sponsor-footer {
	margin: 0 auto;
	@media (min-width: $big-screen) {
		width: 100rem;
	}
	@include group;
	h1 {
		color: $maroon-text;
		font-size: 1.5rem;
		margin: 0 auto;
		padding: 2rem 0 2rem;
		width: 16rem;
		@media (min-width: 61.25em) { // 980px
			float: left;
			height: 7rem;
			max-width: 10.5rem;
			padding: 5rem 0 0;
			text-align: right;
			width: 12%;
		}

	}
	.sponsor-logo {
		background-position: 0 2rem;
		cursor: pointer;
		float: left;
		height: 12rem;
		background-repeat: no-repeat;
		width: 17.5rem;
		@media (min-width: 37.5em) { // 600px / 16px
			@include filter(grayscale(100%));
			&:hover {
				@include filter(grayscale(0));
			}
		}
	}
	.bx-wrapper {
		@media (min-width: 61.25em) { //980px
			float: right;
			width: 88%;
		}
		@media (min-width: $big-screen) {
			width: 87rem;
		}
		margin: 0;
	}
}

.footer-inner {
	margin: 2em auto;
	@include group;
}
.copyright {
	color: $gray-text;
	float: left;
	margin-top: 1em;
}
.sharing {
	float: right;
	@media (min-width: 25em) { // 400px / 16
		min-width: 40em;
	}
	.stay-connected {
		border-right: 1px solid $light-gray;
		font-size: 1.2em;
		margin-right: 1rem;
		padding: 1rem;
		@media (min-width: 25em) {
			float: left;
		}
	}
	.share-button {
		// imageReplacement ($url, $width, $height)
		@include image-replacement("../inc/images/assets.png", 2.6em, 2.6em );
		display: block;
		float: left;
		margin: 0.3em 1em;
		&:last-child {
			margin-right: 0;
		}
	}
	.facebook-button {
		background-position: -1px -68px
	}
	.twitter-button {
		background-position: -28px -68px;
	}
	.linkedin-button {
		background-position: -56px -68px;
	}
	.newsletter-button {
		background-position: -83px -68px;
	}
	.contact-button {
		background-position: -110px -68px;
	}
	.addthis-button {
		background-position: -137px -68px;
	}
}

/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Search widget */
#searchsubmit {
	display: none;
}
